

h2 {
    background-color: rebeccapurple;
}

.heading-class{
    background-color: plum;
}

#box{
    color: blue;
    text-align: center;
    text-decoration-line: overline;
    text-decoration-style: dotted;
}

p{
    text-align: center;
}