

h2 {
    background-color: rebeccapurple;
}

.heading-class{
    background-color: plum;
}

#box{
    color: blue;
    background-color: palegreen;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
#box2{
    background-color: seagreen;
}
#box3{
    background-color: aquamarine;
}

p{
    text-align: center;
}

div{
    width:100px;
    height:100px;
    border-width:3px;
    border-color: black;
    border-width:50px;
    border: solid;
    border-radius: 40px;
    padding: 10px 10px 20px 20px;
    margin:20px;
    display:inline-block;
    opacity: .5;
}
nav ul{
    list-style:none;
    text-decoration:none;
    background:coral;
    color:white;
    padding:20px
}
nav ul li{
    display:inline;
    margin:10vh;
}
footer{
    background-color: salmon;
    color:white;
    padding: 5px;

}